@import reset

=transition($trans)
  -webkit-transition: $trans
  -moz-transition: $trans
  -ms-transition: $trans
  -o-transition: $trans
  transition: $trans

body
  margin: 0
  padding: 1em
  font-family: 'Poiret One', cursive
  font-weight: normal


header
  background: white
  text-align: center
  width: 100%

  h1
    font-size: 2em
    text-align: center
    padding: 0.5em

  .search
    position: relative
    max-width: 60%
    margin: 1rem auto 0 auto

    .fa
      position: absolute
      right: 1em
      top: 0.6em
      color: #D3D3D3

.center
  text-align: center

.container
  width: 70%
  max-width: 75rem
  padding: 1em
  margin: 1em

.mainContainer
  width: 70%
  max-width: 75rem
  margin: 2em 1em 2em auto
  border: 1px solid #F5F5F5
  padding: 1em

.loading
  padding: 1em
  color: #A0A0A0

.listContainer
  padding: 5em

  .column
    padding-left: .2em
    padding-right: .2em
    text-align: center

.row 
  margin: 0
  margin-top: 1em

.emotion
  text-align: center

.graphContainer
  position: fixed
  top: 35%
  left: 0
  width: 30%

#sentiColor
  width: 100%
  height: 1em

.negative
  background-color: red

.positive
  background-color: lightgreen

.neutral
  background-color: lightgrey

